@keyframes up-and-down {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.content {
    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 20px;
    padding: 20px 50px;
    height: 80%;
    align-items: center;
    justify-content: space-around;
}

.content__textbox {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.line-break {
    display: block;
}

.content__title {
    font-family: "Poppins", "sans-serif";
    font-size: 3vw;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.myname {
    font-size: 4vw;
    font-weight: 700;
}

.job-title {
    color: #00fff2;
    font-weight: 700;
}

.content__subtitle {
    font-size: 1.5vw;
    font-weight: 300;
    max-width: 80%;
}

.content__image-box {
    width: 50%;
    display: flex;
    justify-content: center;
}

.content__image {
    object-fit: cover;
    max-width: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 0 2px 15px #0651ca;
    animation: up-and-down 3s ease-in-out infinite;
}
