.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
}

.nav__links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav__link {
    font-family: "Poppins", sans-serif;
    display: inline;
    color: #ccd6f6;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav__link:hover {
    color: #64ffda;
}
